* {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

h2 {
    font-family: 'Kaushan Script', cursive;
    font-size: 4vh;
    color: black;
    margin: 0 auto;
    width: fit-content;
    user-select: none;
    font-style: normal;
    letter-spacing: normal;
    font-weight: normal;
    text-shadow: none;
    animation: bounce 3s infinite;
}

@keyframes bounce {

    0%,
    100% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-20px);
    }
}

.top {
    height: 10vh;
    width: 10vh;
    background-image: url("D:\Photo\top.jpg");
    
}

.lhs{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.dateTime{
    margin-left: 2vh;
    font-size: 10px;
}

.title {
    display: flex;
    flex-direction: row;
    padding: 15px 30px;
}

.menu {
    height: 4vh;
    width: 4vh;
    border-radius: 50%;
    background: url("D:\Photo\top.jpg");
    position: relative;
    top: 0.2vh;
    left: 0.2vh;
}

.profile {
    margin-left: 2vh;
    margin-top: -1vh;
    margin-bottom: 2vh;
}

.style {
    height: 4.5vh;
    width: 4.5vh;
    background: black;
    border-radius: 50%;
    position: absolute;
    z-index: -1;
    background: conic-gradient(rgb(248, 3, 182),rgb(251, 2, 251),blue,rgb(4, 244, 240),rgb(132, 247, 1),rgb(255, 179, 0),rgb(255, 0, 60));
}