* {
    margin: 0;
    padding: 0;
}

.circle {
    height: 40vh;
    width: 20vh;
    background: #ffffff;
    position: absolute;
    border: 0.5px solid black;
    box-shadow: 1px 1px 5px black;
    top: 6vh;
    left: 2vh;
    padding: 1vh;
    border-radius: 5px;
    
}

.circle::before {
    content: "";
    height: 2vh;
    width: 2vh;
    clip-path: polygon(0% 0%, 100% 0%, 50% 100%, 0% 0%);
    background: white;
    position: absolute;
    top: -0.8vh;
    z-index: 1;
    left: 1.1vh;
}

.circle::after {
    content: "";
    height: 2vh;
    width: 2.1vh;
    clip-path: polygon(0% 0%, 100% 0%, 50% 100%,0% 0%);
    background: black;
    position: absolute;
    top: -0.6vh;
}

h4 {
    padding: 0.3vh;
}