*{
    margin: 0;
    padding: 0;
}

.fire{
    height: 1vh;
    width: 1vh;
    border-radius: 50%;
    background-color: black;
    position: relative;

}

.fire::after{
    content: "";
    height: 1vh;
    width: 1vh;
    background-color: red;
    position: absolute;
    border-radius: 50%;
    bottom: -2px;
}

@keyframes up{
    0%{
        transform: translateY(0vh);
    }
    100%{
        transform: translateY(-50vh);
    }
}
