*{
  margin: 0;
  padding: 0;
}

.main {
  display: flex;
  gap: 3vh;
  margin-top: 2vh;
  flex-wrap: wrap;

}

.box {
  transition: all 0.5s ease;
  overflow: hidden; 
}

.hide {
  transition: 0.5s ease;
  transform: translateX(-9vh);
}

.rightbox{
  width: 30vh;
  margin-top: 2vh;
}

.ko{
  display: none;
}

.full{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
}
.third{
  margin-top: 7.5vh;
}